<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ciafrino.presentationtimer" >
    <service android:name="com.alexfu.countdownview.core.TimerService"/>

    <application
        android:name=".Values"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".PresentationsList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateEditPresentation"
            android:label="@string/title_activity_create_edit_presentation"
            android:parentActivityName=".PresentationsList" >
        </activity>
        <activity
            android:name=".CreateStep"
            android:label="@string/title_activity_create_step" >
        </activity>
        <activity
            android:name=".PresentationScreen"
            android:label="@string/title_activity_presentation_screen" >
        </activity>
    </application>

</manifest>
